body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}

button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #5f9341;
  background-color: #5f9341;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#delete-btn {
  background-color: white;
  color: #5f9341;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
}
